.User-img {
    border-radius: 50%;
    width: 32px;
    height: auto;
}
#user {
    background-color: #dee1e3;
    color: black;
    display: grid;
    width: fit-content;
    border-radius: 2rem;
    padding: 1rem;
    margin: 1rem;
    font-size: 14px;
    text-align: left;
    align-items: center;
    transition: border-color 0.25s;
    border: 2px solid transparent;
}
#user:hover {
    border-color: #ffbf0b;
}
#user h4 {
    margin: 0;
}
#user img {
    grid-area: img;
    margin-right: 0.5rem;
}
#user .subreddit {
    grid-area: r;
    font-weight: 700;
}
#user .author {
    grid-area: u;
    color: #656869;
    font-weight: 450;
}
.grid-2 {
    grid-template-areas: 
    "img u";
    
}
.grid-3 {
    grid-template-areas: 
    "img r"
    "img u";
}