.subreddit {
    background-color: #dee1e3;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
    width: 400px;
    height: fit-content;
}
.subreddit p {
    color: black;
    text-align: left;
    font-weight: 400;
}
.subreddit h3 {
    color: #1a1d1f;
}
.subreddit-banner {
    width: 400px;
}
.subreddit-icon {
    border: 3px solid white;
    position: relative;
    right: 0px;
    margin-right: 1rem;
    background-color: #1a1d1f;
}
.subreddit-identity {
    display: flex;
    align-items: center;
}
.subreddit-button {
    background-color: #1a1d1f;
    margin: 1rem;
    padding: 0.5rem;
    border-radius: 0.3rem;
    width: fit-content;
    height: fit-content;
    display: flex;
}
.subreddit-button img {
    width: 16px;
    height: 16px;
}