#feed {
    display: inline-flex;
    justify-content: center;
    flex-flow: row wrap;
}
#feed header {
    display: grid;
    grid-template-areas: "back subreddit";
    grid-template-columns: 64px 1fr;
    width: 740px;
    height: fit-content;
    align-items: center;
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
}
.feed-loadmore {
    border: none;
    background-color: #d83901;
    border-radius: 999px;
    margin: 1.5rem 0 1.5rem 0;
}
.feed-loadmore:hover {
    border: none;
    background-color: #db4914;
}
.feed-loading {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    animation: loading 0.7s infinite alternate-reverse;
}

@keyframes loading {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 0.1;
    }
}