#feed {
    display: inline-flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
}
#feed header {
    display: grid;
    grid-template-areas: "back subreddit";
    grid-template-columns: 64px 1fr;
    width: 740px;
    height: fit-content;
    align-items: center;
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
}
.feed-loading {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    animation: loading 0.7s infinite alternate-reverse;
}

@keyframes loading {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 0.1;
    }
}