#content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    border-radius: 1rem;
    margin: 1rem;
    padding: 3rem !important;
}
#content h2 {
    text-align: justify;
}
.content-user {
    width: 80%;
    display: inline-flex;
    align-items: center;
    flex-flow: row wrap;
}
.content-user #user {
    margin: 0;
}
.content-bottom {
    width: 80%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}
.content-bottom a {
    padding: 0.8rem;
}
.secondary {
    display: flex;
    align-items: center;
    justify-content: center;
}
.secondary img {
    margin-left: 0.5rem;
    width: 16px;
}
.content-interactions {
    display: flex;
    background-color: transparent;
    padding: 0.8rem;
    border-top: 1px solid #949798;
    border-bottom: 1px solid #949798;
    font-weight: bold;
    font-size: 20px;
}
.content-interactions img {
    width: 25px;
    padding: 0 0.5rem 0 0.5rem;
}