#comments-section {
    display: flex;
    flex-direction: column-reverse;
    max-height: 650px;
    overflow-x: scroll;
    padding: 1rem;
    width: auto;
}
#comments-sort {
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    width: auto;
}
#comments-wrapper {
    padding: 2rem 2rem 1rem 2rem;
    max-height: 700px;
    width: auto;
}
label, select {
    margin-left: 1rem;
    font-size: 1.2rem;
}
select {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    padding: 0.5rem;
}
#comments-section::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
  /* Track */
#comments-section::-webkit-scrollbar-track {
    background: transparent; 
}
#comments-section::-webkit-scrollbar-corner {
    display: none;
}
   
/* Handle */
#comments-section::-webkit-scrollbar-thumb {
    border-radius: 0.3rem;
    background: #555; 
}

/* Handle on hover */
#comments-section::-webkit-scrollbar-thumb:hover {
    background: #646464; 
}
.comments-loading {
    width: 64px;
    margin: 1.5rem 1rem 1rem 1rem;
    animation: loading 0.5s infinite alternate;
    align-self: center;
}

@keyframes loading {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}