#comments-section {
    display: flex;
    flex-direction: column-reverse;
    height: fit-content;
    max-height: 700px;
    overflow-x: scroll;
    border-radius: 1rem 1rem 0 0;
    margin: 1rem 1rem 0 1rem;
    padding: 1rem;
}
#comments-section::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
  
  /* Track */
#comments-section::-webkit-scrollbar-track {
    background: transparent; 
}
#comments-section::-webkit-scrollbar-corner {
    display: none;
}
   
/* Handle */
#comments-section::-webkit-scrollbar-thumb {
    border-radius: 0.3rem;
    background: #555; 
}

/* Handle on hover */
#comments-section::-webkit-scrollbar-thumb:hover {
    background: #646464; 
}