footer {
    background-color: var(--darkmode-secondary);
    width: 100%;
    height: fit-content;
    grid-area: footer;
    margin-top: 10vh;
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.footer-details {
    margin: 1.5rem 4rem 4rem 4rem;
}
footer details {
    margin: 1rem;
    cursor: pointer;
    text-align: justify;
}
footer details a {
    color: white;
}
summary {
    cursor: pointer;
    text-align: center;
}
footer details a {
    text-decoration: underline;
}
footer img {
    width: 32px;
    margin: 0.5rem;
}
.footer-technologies {
    display: flex;
    flex-flow: column;
    width: fit-content;
    align-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer-icons {
    border-radius: 1rem;
    border: 1px solid var(--darkmode-primary);
}
.footer-madein {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.footer-poweredwith {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 1rem;
}
.footer-poweredwith p {
    margin: 0;
    font-size: 1.3rem;
}
.footer-poweredwith img {
    width: 128px;
}