.preview {
    margin: 0.5rem;
    padding: 1rem;
}
#preview-small {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#preview-small h2{
    font-size: 20px;
}
#preview-big {
    width: 470px;
    height: fit-content;
}