.preview {
    margin: 0.5rem;
    padding: 1rem;
}
#preview-small {
    width: 100%;
    height: fit-content;
}
#preview-small h2{
    font-size: 20px;
}
#preview-small a {
    display: flex;
    justify-content: center;
}
#preview-big {
    width: 470px;
    height: fit-content;
}