.comment {
    margin-top: 1rem;
    display: grid;
    grid-template-areas: "img content";
    text-align: left;
    align-items: center;
    justify-content: left;
}
.comment img {
    grid-area: img;
    padding: 1rem;
}
.comment .content {
    width: fit-content;
    grid-area: content;
    padding: 1.5rem;
    background-color: #dee1e3;
    color: black;
    border-radius: 1rem;
    line-height: 1;
}
.comment-connector {
    position: relative;
    right: 40px;
    bottom: 38%;
    grid-area: img;
    height: 75%;
    width: 32px;
    border-left: 2px solid #656869;
    border-bottom: 2px solid #656869;
    border-bottom-left-radius: 20px;
}
.comment-interactions img {
    width: 20px;
    padding: 0 0.3rem 0 0.5rem;
}
.content h4 {
    color: #08a59d;
    font-weight: 500;
}
.md {
    line-height: 1.2rem;
}
.md a {
    color: rgb(255, 69, 0);
}
.md blockquote {
    font-style: italic;
    color: #656869;
    border-left: 3px solid #6568699f;
    padding-left: 1.5rem;
}
.md h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
}