#root {
  display: grid;
  grid-template-columns: 70vw;
  grid-template-areas: 
    "header"
    "nav"
    "body"
    "footer";
  place-items: center;
  justify-content: center;
  text-align: center;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
}
#app-header {
  grid-area: header;
  margin-top: 15vh;
  width: 100%;
}
#app-outlet {
  grid-area: body;
  width: 100%;
}
#top-div {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
#lupa {
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
}
nav {
  margin-bottom: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  grid-area: nav;
}
nav ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}
nav ul li {
  display: inline-block;
}
nav ul a {
  padding: 0 1rem;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit {
  width: 4rem;
  height: 2rem;
  padding: 0;
}
main {
  width: 100%;
}
.feed-spinner {
  animation-name: spin;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}