@font-face {
  font-family: 'Old London';
  src: url("./assets/fonts/Olondon_.otf") format("opentype");
  src: url("./assets/fonts/OldLondonAlternate.ttf") format("truetype");
}
@media screen and (max-width: 600px) {
  button {
    background-color: var(--lightmode-secondary-foreground);
    color: white;
  }
  #root {
    padding: 3rem 0 0 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
  #top-div {
    width: 90%;
  }
  #content {
    width: 100%;
    margin: 1.5rem 0 0 0;
    padding: 1rem 0 1rem 0 !important;
  }
  .content-user {
    justify-content: center;
    text-align: center;
  }
  .content-bottom {
    flex-direction: column;
    justify-content: center;
  }
  #comments-section {
    margin:0;
    padding: 1rem 2rem 1rem calc(2rem + 10px);
  }
  #comments-section::-webkit-scrollbar {
    width: 1rem;
}
  #comment-form {
    margin: 0;
  }
  .comment {
    grid-template-areas: 
    "img"
    "content";
    grid-template-rows: 1rem 1fr;
  }
  .comment .User-img {
    position: relative;
    display: flex;
    top: 50%;
    justify-self: center;
  }
  .content h4 {
    text-align: center;
  }
  .content-info {
    display: none;
  }
  .content-interactions img {
    width: 1.3rem;
  }
  .content-bubble span {
    font-size: 1rem;
  }
  .light-primary {
    background-color: var(--lightmode-primary);
  }
  .comment-connector {
    width: 55%;
    height: 50%;
    border-bottom-left-radius: 0;
    border-bottom: none;
    border-top: 2px solid #656869;
    right: 1.5rem;
    top: 30%;
  }
  .replies-connector {
    width: 100%;
    border-right: none;
    border-left: 2px solid #656869;
  }
  .replies {
    grid-template-columns: 1rem 1fr;
  }
  .cover-image {
    width: 90vw;
  }
  #preview-big {
    width: 100%;
  }
  .preview {
    width: 100%;
    margin: 0.5rem 0 0.5rem 0;
  }
  #date {
    display: none;
  }
  .post-loading, .feed-loading {
    width: 99vw;
  }
  #user-anchor {
    margin-right: 0;
}
}
@media screen and (max-width: 450px) {
  nav {
    margin-bottom: 1rem;
  }
  nav ul {
    display: inline-flex;
    flex-direction: column;
    font-size: 1.3rem;
    line-height: 2.5rem;
  }
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --orange-red: #FF4500;
  --dark: #000000;
  --light: #FFFFFF;
  --secondary-juniper-blue: #00E2B7;
  --lightmode-default: #FFFFFF;
  --lightmode-primary: #DEE1E3;
  --lightmode-secondary: #C6C9CA;
  --lightmode-secondary-foreground: #949798;
  --darkmode-default: #000000;
  --darkmode-primary: #1A1D1F;
  --darkmode-secondary: #333637;
  --darkmode-secondary-foreground: #656869;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: #08a59d;
}

body {
  margin: 0;
  display: flex !important;
  flex-flow: column nowrap;
  align-items: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: "Old London";
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 2em;
}
input {
  height: 2rem;
  margin: 0.5rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #08a59d;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.secondary {
  background-color: black;
  padding: 0.5rem;
  border-radius: 1rem;
  margin: 0.5rem;
}
.secondary:hover {
  background-color: #1a1d1f;
  color: white;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a {
    color: #000000;
  }
  button {
    background-color: #f9f9f9;
    color: black;
  }
  .light-primary {
    background-color: white;
  }
  h1 a:hover {
    color: black;
  }
  #double-border {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 3px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  #preview-small {
    border-bottom: 1px solid #000000;
  }
  #preview-big {
    border: 1px solid #dee1e3;
  }
  #comments-section {
    background-color: var(--lightmode-secondary);
  }
  #comments-wrapper {
    background-color: var(--lightmode-secondary);
  }
  #comments-sort {
    background-color: var(--lightmode-secondary);
  }
  #comment-form {
    background-color: var(--lightmode-secondary);
  }
  #lupa {
    background-image: url("./assets/icons/search.svg");
  }
  #user {
    background-color: #f9f9f9;
  }
  .user-subreddit {
    color: black;
  }
  .user-author {
    color: var(--darkmode-primary);
  }
  #content {
    background-color: var(--lightmode-primary);
    color: #000000;
  }
  #content h2 {
    color: black;
  }
  #content p {
    margin: 0.85em;
  }
  .content {
    background-color: #f9f9f9 !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #1a1d1f;
  }
  a {
    color: #ffffff;
  }
  button {
    background-color: #656869;
  }
  h1 a:hover {
    color: white;
  }
  #double-border {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 3px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  #preview-small {
    border-bottom: 1px solid #656869;
  }
  #preview-big {
    border: 1px solid #333637;
  }
  #content {
    background-color: #656869;
  }
  #comments-section {
    background-color: #333637;
  }
  #comments-wrapper {
    background-color: #333637;
  }
  #comments-sort {
    background-color: #333637;
    border-top: 1rem solid #333637;
  }
  #lupa {
    background-image: url("./assets/icons/search_white.svg");
  }
}
